.DayPicker-Caption{
    text-transform: capitalize;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside){
    background: rgb(192, 34, 34);
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover{
    background: rgb(192, 34, 34);
}
.DayPicker-Day {
    display: table-cell;
    padding: 0.5em;

    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.DayPicker-Caption > div{
    text-align: center;
}
.DayPicker-NavBar {
    width: 100%;
    position: absolute;
    top: 20px;
    padding: 0 50px;
}
.DayPicker-NavButton {
     position: static;
    /* top: 1em; */
    /* right: 1.5em; */
    /* left: auto; */
    display: inline-block;
    margin-top: 0;
    width: 1.25em;
    height: 1.25em;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    color: #8B9898;
    cursor: pointer;

}
.DayPicker-NavButton, .DayPicker-NavButton > *{
    outline: none !important;
    box-shadow: none !important;
}
.DayPicker-NavButton--next {
    float: right;
}