.sendOpen{
    background: #c02122;
    color: white;
    border: 0;
    border-radius: 0;
    height: 33px;
    width: 100%;
}
.sendOpen:active{
    background: red;
    color: white;
}
.sendOpen:hover{
    background: red;
    color: white;
}
.sendOpen:focus{
    background: red;
    color: white;
}
.sendForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.input{
    border-radius: 0;
    border: 1px solid lightgray;
    height: 32px;
    padding: 0.5rem 0.5rem;
    width: 100%;
}
.input > *{
    outline: 0;
}
.input:hover, .input:focus, .input:active, .input:hover > *, .input:focus > *, .input:active > *{
    border-color: lightgray;
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparent !important ;
}
.input > *{
    opacity: 1;
}
.label{
    font-size: 13px;
    padding-bottom: 5px;
    line-height:2;
}
.buttonText{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
