.input{
    border-radius: 0;
    width: 35px;
    text-align: center;
}
.input > *{
    outline: 0;

}
button.padding{
    padding-right: 10px;
    padding-left: 10px;
    width: 35px;
    text-align: center;
}
button.dicrement{
    background: #203a73;
    border-color: #203a73;
}
button.dicrement:hover, button.dicrement:active,  button.dicrement:focus{
    background: #3058af;
    border-color: #325ab1;
}
button.increment{
    background: rgb(192, 34, 34);
    border-color: rgb(192, 34, 34);;
}




button.increment:hover, button.increment:active,  button.increment:focus{
    background: rgb(222, 39, 39);
    border-color: rgb(222, 39, 39);
}
.count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input:hover, .input:focus, .input:active, .input:hover > *, .input:focus > *, .input:active > *{
    border-color: lightgray;
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparent !important ;
}
.input > *{
    opacity: 1;
}
.label{
    font-size: 13px;
    padding-bottom: 3px;
}
.counter{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
