.header{
    background: rgba(155, 226, 254, 0.23);
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1rem;
}
.ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    margin-top: 5px;
    padding-left: 2rem;
    list-style:disc !important;
}
.li{

}
.host{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header svg{
    width: 18px;
    height: 18px;
}

.from,.to{
    border-right: 1px solid lightgrey;

}
[id *='charter_item_list-']{
    border-radius: 4px;
}
.charterItem{
    margin-top: 20px ;
    background: white;

    transition: all 0.3s;
}
.charterItem.active{
    background: #182d5b;
    transition: all 0.3s;
    color: white;

}


.info{
    padding: 0.5rem;
    border: 0 !important;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.footer .price{
    font-size: 1.325rem;
    padding: 0 5px;
    display: block;
    background: #f9f9f9;
    border: 1px solid lightgray;
    color: black;
}
.Open{
    background: #c02122;
    color: white;
    border: 0;
    border-radius: 0;
    height: 33px;
    min-width: 200px;
}
.Open:active{
    background: red;
    color: white;
}
.Open.active{

}
.collapse{
    overflow: hidden;
    width: 100%;

}
.collapseContent{
    height: 0;
    opacity: 0;
    transition: all 0.3s;
}
.collapse .activeCollapse{
    height: 100% !important;
    opacity: 1;
    transition: all 0.3s;
    border: 1px solid lightgrey;
    border-top: 0;
}
.Open:hover{
    background: red;
    color: white;
}
.Open:focus{
    background: red;
    color: white;
}
@media (max-width: 992px) {
    .to {
        border-right: 0px;

    }
    .from, .to{
        border-bottom: 1px solid lightgrey;
        padding: 0 0 1rem;
    }
}

@media (max-width: 768px) {


    .from > .ul, .to > .ul, .info > .ul{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .footer{
        flex-direction: column;
    }
}
@media (max-width: 568px) {
    .from{
        border-right: 0;
    }
}