.tabs-container{
    margin-top: 2rem ;
}
.tabs-container .ant-tabs-nav .ant-tabs-tab{
   background: white;
    margin: 0 !important;

}
.tabs-container .ant-tabs-nav .ant-tabs-tab-active{
    color:white;
    border-bottom: transparent;
    background: #192e5b;

}
.tabs-container .ant-tabs-ink-bar{
    background-color: transparent;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    border-radius:0;
    margin-right: 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    background: #182d5b;
    border-color: #182d5b;
    color: white;
}
.ant-tabs{
    width: 100%;
    font-size: 16px;
}
.ant-tabs-bar{
    border: 0;
    margin: 0 0 1px 0;
}

.ant-btn-background-ghost{
    display: none !important;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #c02222e0;
    color: white;
}
.ant-radio-checked .ant-radio-inner {
    border-color: #c02222;
}
.ant-radio-inner::after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: #c02222;
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: ' ';
}
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner{
    border-color: #c02222;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
    border-color: #c02222;
}
.ant-slider-handle:focus{
    border-color: #c02222;
    outline: none;
    box-shadow: 0 0 0 5px rgba(191, 34, 34, 0.1);
}
.ant-slider-track {
    position: absolute;
    height: 4px;
    background-color: #c02222;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.ant-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    margin-left: -7px;
    background-color: #fff;
    border: solid 2px #c02222;
    border-radius: 50%;
    box-shadow: 0;
    cursor: pointer;
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -webkit-transition: border-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.ant-slider:hover .ant-slider-track {
    background-color: #c02222;
}
.ant-slider-handle.ant-tooltip-open {
    border-color: #c02222;
}
.display_none{
    display: none !important;
}

.ant-form-item-control{
    line-height: 1.5;
}
.has-error input{
    border-color: red ;

}
.ant-form-explain{
    font-size: 0.75rem;
}
::placeholder{
    color: lightgrey;
    font-style: italic;
}
:root .ant-tabs-tab-prev {

    border-right: 1px solid rgba(24, 45, 91, 0.12941176470588237);
    border-top: 1px solid rgba(24, 45, 91, 0.12941176470588237);
    background: white;
        margin-bottom: -1px;
}
:root .ant-tabs-tab-next{
    border-left: 1px solid rgba(24, 45, 91, 0.12941176470588237);
    border-top: 1px solid rgba(24, 45, 91, 0.12941176470588237);
    background: white;
        margin-bottom: -1px;
}
.tabs-container .ant-tabs-nav .ant-tabs-tab{

    margin: 0 !important;
    /* background: white; */
    border-right: 1px solid #e5e7eb;
}

.tabs-container .ant-tabs-nav .ant-tabs-tab {
    border-right: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
    box-sizing: border-box;
}
.tabs-container .ant-tabs-nav .ant-tabs-tab-active{
    border-top: 1px solid #182d5b !important;
    border-right:1px solid #182d5b !important;
}
.tabs-container .ant-tabs-nav .ant-tabs-tab:first-child{
    border-left: 1px solid rgba(24, 45, 91, 0.12941176470588237);
}
.tabs-container .ant-tabs-nav .ant-tabs-tab:last-child{
    border-right: 1px solid rgba(24, 45, 91, 0.12941176470588237);
}

.ant-tabs-tab-prev-icon, .ant-tabs-tab-next-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: inherit;
    text-align: center;
    text-transform: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(1.1,1.1);
    color: #192e5b;
}
.ant-tabs-tab-next{
    right: 1px;
}
@media (min-width: 992px) {
    .ant-tabs-nav-wrap .ant-tabs-tab:first-child{
        border-top-left-radius: 4px;
    }
    .ant-tabs-nav-wrap .ant-tabs-tab:last-child{
        border-top-right-radius: 4px;
    }
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane{
    min-height: 135px;
}
.ant-tabs-tab.ant-tabs-tab-disabled:after{
    content: '\441\43A\43E\440\43E';
    display: block;
    background: #c02122;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 11px;
    color: white;
    padding: 0 5px;
    opacity: 0.6;
}
.ant-tabs-tab.ant-tabs-tab-disabled{
    padding-right: 55px;
}