.modal_body{
    max-height: 400px;
    width: 100%;
    overflow-y: auto;

    overflow-x: hidden;


}
@media (max-width: 768px) {
    .modal_body{
        max-height: 320px;
        max-width: 300px;
    }

}
button.button{
    background: rgb(192, 34, 34);
    border-color: rgb(192, 34, 34);
    transition: background 0.3s;
}
button.button:hover, button.button:active, button.button:focus{
    transition: background 0.3s;
    background: rgba(245, 34, 45, 1);
    border-color: rgba(245, 34, 45, 1);
}