.pagination > li{
    border-radius: 0 !important;
    border-color: lightgray;
}
.pagination > li > a{
    border-radius: 0 !important;
    border-color: lightgray;
}
.pagination > li[class*='-active']{
    border-color: #c02022;

}

.pagination > li:active, .pagination > li:active >a {
    border-color: red !important;
    color: red !important;
}
.pagination > li:focus, .pagination > li:focus >a {
    border-color: red !important;
    color: red !important;
}
.pagination > li:hover, .pagination > li:hover >a {
    border-color: red !important;
    color: red !important;
}

.pagination > li[class*='-active'] >a{
    color: #c02022 !important;
}
