.detail{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin:0;
    background: white;
    color: black;

}

.logo,.from,.to{
    border-right: 1px solid lightgrey;
}
.header{
    background: rgba(155, 226, 254, 0.23);
    padding: 0.25rem 1rem;
    font-weight: bold;
}
.logo .img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-size: contain !important;
    background-position:center !important;
    height: 50px;
    width: 80%;
    margin: auto;
    background-repeat:no-repeat !important; ;
}

.content{

    padding: 0.5rem 1rem;

}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top:0.5rem ;
    padding-left: 2rem ;
    list-style: disc !important;
}
.list li{
    text-transform: capitalize;
    list-style: disc !important;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.price{
    font-size: 1.325rem;
    padding: 1rem;
}
.borderBottomNone{
    border-bottom: 0;
}
