$padding: 1rem;
$margin:-1rem;
$sizeGrid: 24;
$map: (xs: 320, sm: 568, md: 768, lg:968, xl: 1280, xxl:1440, retina: 1920);
$state:(none,flex,block,inline-block,inline);
$maxWidth: 1320px;


.flex_important{
 display: flex !important;
}

@each $key, $value in $map{
  @each $val in $state{
    @if $val  == 'inline-block'{
      .inline_block{
        display: inline-block;
      }
    }
    @else {
      .#{$val}{
        display: $val;
      }
    }
    .#{$val}_important {
      display: $val !important;
    }
  }
  @each $key, $value in $map{
    @media screen and(min-width: #{$value}px) {
    @each $val in $state{
    @if $val  == 'inline-block'{
      .inline_block_#{$key}{
        display: inline-block;
      }
    }
    @else {
      .#{$val}_#{$key}{
        display: $value;
      }
    }
    }
  }
  }
}

