.flex_grow{
  flex-grow: 1;
}
.justify_content__center {
  justify-content: center; }

.justify_content__space_between {
  justify-content: space-between; }

.justify_content__flex_end {
  justify-content: flex-end; }

.justify_content__flex_start {
  justify-content: flex-start; }

.justify_content__space_around {
  justify-content: space-around; }

.align_items__center {
  align-items: center; }

.align_items__flex_start {
  align-items: flex-start; }

.align_items__flex_end {
  align-items: flex-end; }

.align_items__stretch {
  align-items: stretch; }

.flex_wrap__wrap {
  flex-wrap: wrap; }

.flex_wrap__wrap_reverse {
  flex-wrap: wrap-reverse; }

.flex_wrap__nowrap {
  flex-wrap: nowrap; }

.flex_direction__column {
  flex-direction: column; }

.flex_direction__row {
  flex-direction: row; }

.order__0 {
  order: 0; }

.order__1 {
  order: 1; }

.order__2 {
  order: 2; }

.order__3 {
  order: 3; }

.order__4 {
  order: 4; }

.order__5 {
  order: 5; }

.order__6 {
  order: 6; }

.order__7 {
  order: 7; }

.order__8 {
  order: 8; }

.order__9 {
  order: 9; }

.order__10 {
  order: 10; }

@media screen and (min-width: 320px) {
  .justify_content_xs__center {
    justify-content: center; }
  .justify_content_xs__space_between {
    justify-content: space-between; }
  .justify_content_xs__flex_end {
    justify-content: flex-end; }
  .justify_content_xs__flex_start {
    justify-content: flex-start; }
  .justify_content_xs__space_around {
    justify-content: space-around; }
  .align_items_xs__center {
    align-items: center; }
  .align_items_xs__flex_start {
    align-items: flex-start; }
  .align_items_xs__flex_end {
    align-items: flex-end; }
  .align_items_xs__stretch {
    align-items: stretch; }
  .flex_wrap_xs__wrap {
    flex-wrap: wrap; }
  .flex_wrap_xs__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_xs__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_xs__column {
    flex-direction: column; }
  .flex_direction_xs__row {
    flex-direction: row; }
  .order_xs__0 {
    order: 0; }
  .order_xs__1 {
    order: 1; }
  .order_xs__2 {
    order: 2; }
  .order_xs__3 {
    order: 3; }
  .order_xs__4 {
    order: 4; }
  .order_xs__5 {
    order: 5; }
  .order_xs__6 {
    order: 6; }
  .order_xs__7 {
    order: 7; }
  .order_xs__8 {
    order: 8; }
  .order_xs__9 {
    order: 9; }
  .order_xs__10 {
    order: 10; } }

@media screen and (min-width: 568px) {
  .justify_content_sm__center {
    justify-content: center; }
  .justify_content_sm__space_between {
    justify-content: space-between; }
  .justify_content_sm__flex_end {
    justify-content: flex-end; }
  .justify_content_sm__flex_start {
    justify-content: flex-start; }
  .justify_content_sm__space_around {
    justify-content: space-around; }
  .align_items_sm__center {
    align-items: center; }
  .align_items_sm__flex_start {
    align-items: flex-start; }
  .align_items_sm__flex_end {
    align-items: flex-end; }
  .align_items_sm__stretch {
    align-items: stretch; }
  .flex_wrap_sm__wrap {
    flex-wrap: wrap; }
  .flex_wrap_sm__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_sm__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_sm__column {
    flex-direction: column; }
  .flex_direction_sm__row {
    flex-direction: row; }
  .order_sm__0 {
    order: 0; }
  .order_sm__1 {
    order: 1; }
  .order_sm__2 {
    order: 2; }
  .order_sm__3 {
    order: 3; }
  .order_sm__4 {
    order: 4; }
  .order_sm__5 {
    order: 5; }
  .order_sm__6 {
    order: 6; }
  .order_sm__7 {
    order: 7; }
  .order_sm__8 {
    order: 8; }
  .order_sm__9 {
    order: 9; }
  .order_sm__10 {
    order: 10; } }

@media screen and (min-width: 768px) {
  .justify_content_md__center {
    justify-content: center; }
  .justify_content_md__space_between {
    justify-content: space-between; }
  .justify_content_md__flex_end {
    justify-content: flex-end; }
  .justify_content_md__flex_start {
    justify-content: flex-start; }
  .justify_content_md__space_around {
    justify-content: space-around; }
  .align_items_md__center {
    align-items: center; }
  .align_items_md__flex_start {
    align-items: flex-start; }
  .align_items_md__flex_end {
    align-items: flex-end; }
  .align_items_md__stretch {
    align-items: stretch; }
  .flex_wrap_md__wrap {
    flex-wrap: wrap; }
  .flex_wrap_md__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_md__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_md__column {
    flex-direction: column; }
  .flex_direction_md__row {
    flex-direction: row; }
  .order_md__0 {
    order: 0; }
  .order_md__1 {
    order: 1; }
  .order_md__2 {
    order: 2; }
  .order_md__3 {
    order: 3; }
  .order_md__4 {
    order: 4; }
  .order_md__5 {
    order: 5; }
  .order_md__6 {
    order: 6; }
  .order_md__7 {
    order: 7; }
  .order_md__8 {
    order: 8; }
  .order_md__9 {
    order: 9; }
  .order_md__10 {
    order: 10; } }

@media screen and (min-width: 992px) {
  .justify_content_lg__center {
    justify-content: center; }
  .justify_content_lg__space_between {
    justify-content: space-between; }
  .justify_content_lg__flex_end {
    justify-content: flex-end; }
  .justify_content_lg__flex_start {
    justify-content: flex-start; }
  .justify_content_lg__space_around {
    justify-content: space-around; }
  .align_items_lg__center {
    align-items: center; }
  .align_items_lg__flex_start {
    align-items: flex-start; }
  .align_items_lg__flex_end {
    align-items: flex-end; }
  .align_items_lg__stretch {
    align-items: stretch; }
  .flex_wrap_lg__wrap {
    flex-wrap: wrap; }
  .flex_wrap_lg__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_lg__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_lg__column {
    flex-direction: column; }
  .flex_direction_lg__row {
    flex-direction: row; }
  .order_lg__0 {
    order: 0; }
  .order_lg__1 {
    order: 1; }
  .order_lg__2 {
    order: 2; }
  .order_lg__3 {
    order: 3; }
  .order_lg__4 {
    order: 4; }
  .order_lg__5 {
    order: 5; }
  .order_lg__6 {
    order: 6; }
  .order_lg__7 {
    order: 7; }
  .order_lg__8 {
    order: 8; }
  .order_lg__9 {
    order: 9; }
  .order_lg__10 {
    order: 10; } }

@media screen and (min-width: 1200px) {
  .justify_content_xl__center {
    justify-content: center; }
  .justify_content_xl__space_between {
    justify-content: space-between; }
  .justify_content_xl__flex_end {
    justify-content: flex-end; }
  .justify_content_xl__flex_start {
    justify-content: flex-start; }
  .justify_content_xl__space_around {
    justify-content: space-around; }
  .align_items_xl__center {
    align-items: center; }
  .align_items_xl__flex_start {
    align-items: flex-start; }
  .align_items_xl__flex_end {
    align-items: flex-end; }
  .align_items_xl__stretch {
    align-items: stretch; }
  .flex_wrap_xl__wrap {
    flex-wrap: wrap; }
  .flex_wrap_xl__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_xl__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_xl__column {
    flex-direction: column; }
  .flex_direction_xl__row {
    flex-direction: row; }
  .order_xl__0 {
    order: 0; }
  .order_xl__1 {
    order: 1; }
  .order_xl__2 {
    order: 2; }
  .order_xl__3 {
    order: 3; }
  .order_xl__4 {
    order: 4; }
  .order_xl__5 {
    order: 5; }
  .order_xl__6 {
    order: 6; }
  .order_xl__7 {
    order: 7; }
  .order_xl__8 {
    order: 8; }
  .order_xl__9 {
    order: 9; }
  .order_xl__10 {
    order: 10; } }

@media screen and (min-width: 1440px) {
  .justify_content_xxl__center {
    justify-content: center; }
  .justify_content_xxl__space_between {
    justify-content: space-between; }
  .justify_content_xxl__flex_end {
    justify-content: flex-end; }
  .justify_content_xxl__flex_start {
    justify-content: flex-start; }
  .justify_content_xxl__space_around {
    justify-content: space-around; }
  .align_items_xxl__center {
    align-items: center; }
  .align_items_xxl__flex_start {
    align-items: flex-start; }
  .align_items_xxl__flex_end {
    align-items: flex-end; }
  .align_items_xxl__stretch {
    align-items: stretch; }
  .flex_wrap_xxl__wrap {
    flex-wrap: wrap; }
  .flex_wrap_xxl__wrap_reverse {
    flex-wrap: wrap-reverse; }
  .flex_wrap_xxl__nowrap {
    flex-wrap: nowrap; }
  .flex_direction_xxl__column {
    flex-direction: column; }
  .flex_direction_xxl__row {
    flex-direction: row; }
  .order_xxl__0 {
    order: 0; }
  .order_xxl__1 {
    order: 1; }
  .order_xxl__2 {
    order: 2; }
  .order_xxl__3 {
    order: 3; }
  .order_xxl__4 {
    order: 4; }
  .order_xxl__5 {
    order: 5; }
  .order_xxl__6 {
    order: 6; }
  .order_xxl__7 {
    order: 7; }
  .order_xxl__8 {
    order: 8; }
  .order_xxl__9 {
    order: 9; }
  .order_xxl__10 {
    order: 10; } }

@media screen and (min-width: 2100px) {
  .d_xxl_none {
    display: none !important; }
  .d_xxl_flex {
    display: flex !important; }
  .d_xxl_block {
    display: block !important; } }

@media screen and (min-width: 1440px) {
  .d_xl_none {
    display: none !important; }
  .d_xl_flex {
    display: flex !important; }
  .d_xl_block {
    display: block !important; } }

@media screen and (min-width: 1280px) {
  .d_lg_none {
    display: none !important; }
  .d_lg_flex {
    display: flex !important; }
  .d_lg_block {
    display: block !important; } }

@media screen and (min-width: 1024px) {
  .d_md_none {
    display: none !important; }
  .d_md_flex {
    display: flex !important; }
  .d_md_block {
    display: block !important; } }

@media screen and (min-width: 768px) {
  .d_sm_none {
    display: none !important; }
  .d_sm_flex {
    display: flex !important; }
  .d_sm_block {
    display: block !important; } }

@media screen and (min-width: 568px) {
  .d_xs_none {
    display: none !important; }
  .d_xs_flex {
    display: flex !important; }
  .d_xs_block {
    display: block !important; } }
