.wrap {
  width: 100%;
  padding: 0 1rem;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  flex: 1;
}

.all__auto {
  width: auto;
  flex-basis: auto; }

.all__1 {
  width: 4.16667%;
  flex-basis: 4.16667%; }

.all__2 {
  width: 8.33333%;
  flex-basis: 8.33333%; }

.all__3 {
  width: 12.5%;
  flex-basis: 12.5%; }

.all__4 {
  width: 16.66667%;
  flex-basis: 16.66667%; }

.all__5 {
  width: 20.83333%;
  flex-basis: 20.83333%; }

.all__6 {
  width: 25%;
  flex-basis: 25%; }

.all__7 {
  width: 29.16667%;
  flex-basis: 29.16667%; }

.all__8 {
  width: 33.33333%;
  flex-basis: 33.33333%; }

.all__9 {
  width: 37.5%;
  flex-basis: 37.5%; }

.all__10 {
  width: 41.66667%;
  flex-basis: 41.66667%; }

.all__11 {
  width: 45.83333%;
  flex-basis: 45.83333%; }

.all__12 {
  width: 50%;
  flex-basis: 50%; }

.all__13 {
  width: 54.16667%;
  flex-basis: 54.16667%; }

.all__14 {
  width: 58.33333%;
  flex-basis: 58.33333%; }

.all__15 {
  width: 62.5%;
  flex-basis: 62.5%; }

.all__16 {
  width: 66.66667%;
  flex-basis: 66.66667%; }

.all__17 {
  width: 70.83333%;
  flex-basis: 70.83333%; }

.all__18 {
  width: 75%;
  flex-basis: 75%; }

.all__19 {
  width: 79.16667%;
  flex-basis: 79.16667%; }

.all__20 {
  width: 83.33333%;
  flex-basis: 83.33333%; }

.all__21 {
  width: 87.5%;
  flex-basis: 87.5%; }

.all__22 {
  width: 91.66667%;
  flex-basis: 91.66667%; }

.all__23 {
  width: 95.83333%;
  flex-basis: 95.83333%; }

.all__24 {
  width: 100%;
  flex-basis: 100%; }

@media screen and (min-width: 320px) {
  .xs__auto {
    width: auto;
    flex-basis: auto; }
  .xs__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .xs__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .xs__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .xs__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .xs__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .xs__6 {
    width: 25%;
    flex-basis: 25%; }
  .xs__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .xs__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .xs__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .xs__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .xs__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .xs__12 {
    width: 50%;
    flex-basis: 50%; }
  .xs__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .xs__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .xs__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .xs__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .xs__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .xs__18 {
    width: 75%;
    flex-basis: 75%; }
  .xs__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .xs__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .xs__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .xs__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .xs__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .xs__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 568px) {
  .sm__auto {
    width: auto;
    flex-basis: auto; }
  .sm__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .sm__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .sm__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .sm__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .sm__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .sm__6 {
    width: 25%;
    flex-basis: 25%; }
  .sm__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .sm__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .sm__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .sm__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .sm__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .sm__12 {
    width: 50%;
    flex-basis: 50%; }
  .sm__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .sm__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .sm__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .sm__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .sm__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .sm__18 {
    width: 75%;
    flex-basis: 75%; }
  .sm__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .sm__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .sm__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .sm__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .sm__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .sm__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 768px) {
  .md__auto {
    width: auto;
    flex-basis: auto; }
  .md__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .md__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .md__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .md__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .md__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .md__6 {
    width: 25%;
    flex-basis: 25%; }
  .md__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .md__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .md__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .md__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .md__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .md__12 {
    width: 50%;
    flex-basis: 50%; }
  .md__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .md__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .md__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .md__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .md__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .md__18 {
    width: 75%;
    flex-basis: 75%; }
  .md__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .md__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .md__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .md__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .md__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .md__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 968px) {
  .lg__auto {
    width: auto;
    flex-basis: auto; }
  .lg__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .lg__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .lg__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .lg__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .lg__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .lg__6 {
    width: 25%;
    flex-basis: 25%; }
  .lg__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .lg__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .lg__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .lg__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .lg__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .lg__12 {
    width: 50%;
    flex-basis: 50%; }
  .lg__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .lg__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .lg__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .lg__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .lg__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .lg__18 {
    width: 75%;
    flex-basis: 75%; }
  .lg__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .lg__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .lg__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .lg__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .lg__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .lg__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 1280px) {
  .xl__auto {
    width: auto;
    flex-basis: auto; }
  .xl__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .xl__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .xl__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .xl__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .xl__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .xl__6 {
    width: 25%;
    flex-basis: 25%; }
  .xl__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .xl__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .xl__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .xl__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .xl__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .xl__12 {
    width: 50%;
    flex-basis: 50%; }
  .xl__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .xl__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .xl__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .xl__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .xl__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .xl__18 {
    width: 75%;
    flex-basis: 75%; }
  .xl__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .xl__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .xl__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .xl__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .xl__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .xl__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 1440px) {
  .xxl__auto {
    width: auto;
    flex-basis: auto; }
  .xxl__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .xxl__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .xxl__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .xxl__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .xxl__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .xxl__6 {
    width: 25%;
    flex-basis: 25%; }
  .xxl__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .xxl__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .xxl__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .xxl__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .xxl__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .xxl__12 {
    width: 50%;
    flex-basis: 50%; }
  .xxl__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .xxl__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .xxl__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .xxl__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .xxl__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .xxl__18 {
    width: 75%;
    flex-basis: 75%; }
  .xxl__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .xxl__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .xxl__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .xxl__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .xxl__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .xxl__24 {
    width: 100%;
    flex-basis: 100%; } }

@media screen and (min-width: 1920px) {
  .retina__auto {
    width: auto;
    flex-basis: auto; }
  .retina__1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
  .retina__2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .retina__3 {
    width: 12.5%;
    flex-basis: 12.5%; }
  .retina__4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .retina__5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
  .retina__6 {
    width: 25%;
    flex-basis: 25%; }
  .retina__7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
  .retina__8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .retina__9 {
    width: 37.5%;
    flex-basis: 37.5%; }
  .retina__10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .retina__11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
  .retina__12 {
    width: 50%;
    flex-basis: 50%; }
  .retina__13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
  .retina__14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .retina__15 {
    width: 62.5%;
    flex-basis: 62.5%; }
  .retina__16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .retina__17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
  .retina__18 {
    width: 75%;
    flex-basis: 75%; }
  .retina__19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
  .retina__20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .retina__21 {
    width: 87.5%;
    flex-basis: 87.5%; }
  .retina__22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .retina__23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
  .retina__24 {
    width: 100%;
    flex-basis: 100%; } }
