$padding: 1rem;
$margin:-1rem;
$sizeGrid: 24;
$map: (xs: 320, sm: 568, md: 768, lg:968, xl: 1280, xxl:1440, retina: 1920);
$maxWidth: 1320px;
.wrap{
  width: 100%;
  padding: 0 $padding;
  max-width: $maxWidth;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 $margin;
}
@for $i from 0 through $sizeGrid{
  @if $i == 0 {
    .all__auto{
      width: auto;
      flex-basis: auto;
    }
  }
  @else{
    .all__#{$i}{
      width: (100 / ($sizeGrid / $i) ) * 1%;
      flex-basis: (100 / ($sizeGrid / $i) ) * 1%;
    }
  }

}

@each $key, $value in $map{
  @media screen and(min-width: #{$value}px) {
    @for $i from 0 through $sizeGrid{
        @if $i == 0 {
          .#{$key}__auto{
            width: auto;
            flex-basis: auto;
          }
        }
        @else {
          .#{$key}__#{$i} {
            width: (100 / ($sizeGrid / $i) ) * 1%;
            flex-basis: (100 / ($sizeGrid / $i) ) * 1%;
          }
        }
      }
    }

  }

