$map: (xs: 320, sm: 568, md: 768, lg:968, xl: 1280, xxl:1440, retina: 1920);
$sizeindents: 10;


.mx__auto{
  margin: 0 auto;
}
.m__auto{
  margin: auto;
}
.my__auto{
  margin: auto 0;
}
@for $i from 0 through $sizeindents{

    .mx__#{$i}{
      margin-right: $i * 1rem / 2;
      margin-left: $i * 1rem / 2;
    }
    .m__#{$i}{
      margin: $i * 1rem / 2 $i * 1rem / 2;
    }
    .my__#{$i}{
      margin-top: $i * 1rem / 2;
      margin-bottom: $i * 1rem / 2;
    }
    .mr__#{$i}{
      margin-right: $i * 1rem / 2;
    }
    .ml__#{$i}{
      margin-left: $i * 1rem / 2;
    }
    .mt__#{$i}{
      margin-top: $i * 1rem / 2;
    }
    .mb__#{$i}{
      margin-bottom: $i * 1rem / 2;
    }
  .px__#{$i}{
    padding-right: $i * 1rem / 2;
    padding-left: $i * 1rem / 2;
  }
  .p__#{$i}{
    padding: $i * 1rem / 2 $i * 1rem / 2;
  }
  .py__#{$i}{
    padding-top: $i * 1rem / 2;
    padding-bottom: $i * 1rem / 2;
  }
  .pr_#{$i}{
    padding-right: $i * 1rem / 2;
  }
  .pl__#{$i}{
    padding-left: $i * 1rem / 2;
  }
  .pt__#{$i}{
    padding-top: $i * 1rem / 2;
  }
  .pb__#{$i}{
    padding-bottom: $i * 1rem / 2;
  }


}



@each $key, $value in $map{
  @media screen and(min-width: #{$value}px) {
    @for $i from 0 through $sizeindents{
      .mx_#{$key}__#{$i}{
        margin-right: $i * 1rem / 2;
        margin-left: $i * 1rem / 2;
      }
      .m_#{$key}__#{$i}{
        margin: $i * 1rem / 2 $i * 1rem / 2;
      }
      .my_#{$key}__#{$i}{
        margin-top: $i * 1rem / 2;
        margin-bottom: $i * 1rem / 2;
      }
      .mr_#{$key}__#{$i}{
        margin-right: $i * 1rem / 2;
      }
      .ml_#{$key}__#{$i}{
        margin-left: $i * 1rem / 2;
      }
      .mt_#{$key}__#{$i}{
        margin-top: $i * 1rem / 2;
      }
      .mb_#{$key}__#{$i}{
        margin-bottom: $i * 1rem / 2;
      }

      .px_#{$key}__#{$i}{
        padding-right: $i * 1rem / 2;
        padding-left: $i * 1rem / 2;
      }
      .p_#{$key}__#{$i}{
        padding: $i * 1rem / 2 $i * 1rem / 2;
      }
      .py_#{$key}__#{$i}{
        padding-top: $i * 1rem / 2;
        padding-bottom: $i * 1rem / 2;
      }
      .pr_#{$i}{
        padding-right: $i * 1rem / 2;
      }
      .pl_#{$key}__#{$i}{
        padding-left: $i * 1rem / 2;
      }
      .pt_#{$key}__#{$i}{
        padding-top: $i * 1rem / 2;
      }
      .pb_#{$key}__#{$i}{
        padding-bottom: $i * 1rem / 2;
      }
    }
  }

}