.ant-select-auto-complete.ant-select .ant-input,
.ant-select-auto-complete.ant-select .ant-input:hover,
.ant-select-auto-complete.ant-select .ant-input:active,
.ant-select-auto-complete.ant-select .ant-input:focus{
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
    height: 20px;
    margin-left: 2px;
}
.ant-select-auto-complete.ant-select .ant-select-selection__rendered{
    display: flex;
    line-height: initial;
}
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder{
    margin-left: 2px !important;
}
.ant-select ul, .ant-select ol {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.ant-select-dropdown {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum",;
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 1050;
    box-sizing: border-box;
    font-size: 14px;
    font-variant: initial;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 250px;
}