.alert{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    z-index: 1000;
}
.alert .body{
    background: white;
    padding: 2rem;
}