
button.buttonFind{
    background: #c02222;
    height: 56px;
    width: 100%;
    border-radius: 0;
    color: white;
    border: 0;
    text-transform: uppercase;
}
button.buttonFind:active{
    background: red;
    color: white;
}
button.buttonFind:hover{
    background: red;
    color: white;
}
button.buttonFind:focus{
    background: red;
    color: white;
}

.findForm{
    background: #182d5b;
    min-height: 120px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
@media (min-width: 992px) {
    .findForm{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

    }
}
button.formItem, .autoComplete {
    height: 56px;
    background: white;
    position: relative;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    text-align: left;
    border: 0;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
button.formItem:hover, button.formItem:focus , button.formItem:active{
    color: #182d5b;
    border-color: lightgray;
}


.ModalTitle{
    display: block;
    max-width: 300px;
    font-weight: bold;
    margin-right: 3rem;
}
@media (max-width: 420px) {
    .ModalTitle{
        max-width: 215px;
        margin-right: 0rem;
    }
}

button.formItem .tooltip, .autoComplete .tooltip{
    top:5px;
}
.autoComplete{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.formItem .icon, .autoComplete .icon{
    display: flex;
    align-items: center;
}
button.formItem .icon svg, .autoComplete .icon svg {
    width: 14px !important;
    height: 14px !important;
    margin-right: 5px;
}
button.formItem.from{
    display: flex;
    justify-content: flex-start;
    height: auto;
    border: 0;
    margin-bottom: 5px;
    background: transparent;
    color: white;
}
button.from > .label_text{
    display: flex;
    align-items: center;
}
button.from > .label_text:before{
    content: 'Откуда:';
    display: block;
    margin-right: 5px;
}
button.from > .label_text:after{
    content: '';
    display: block;
    background: url('./img/baseline-keyboard_arrow_right-24px.svg');
    width: 14px;
    height: 14px;
    transform: rotate(90deg);
    margin-left: 5px;
}
button.formItem .tittle, .autoComplete .tittle{
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px;
}
button.formItem .placeHolder, .autoComplete .placeHolder{
    font-style: italic;
    color: #6464649e;
}

.tabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    background: black;
    padding: 16px;
}

.radio{

    padding-bottom: 9px ;
}
.radio > *{

}
button.swap{
    background: white;
    height: 56px;
    border: 0;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    outline: 0 !important;
    border-radius: 0 !important;
    transition: transform 0.3s;
    box-shadow: none !important;
    outline: none !important;
}
button.swap:active svg{
    transition: transform 0.3s;
    transform: rotate(180deg);
}
.fontColor{
    color: #000;
}
.fontWhite{
    color: white;
}