.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    z-index: 1000;
}
.body{
    background: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spin{
    background: white;
}